html{
    scroll-behavior: smooth;
}
body{
    background:#2e318c;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin:0;
    line-height: 1.4;
}
*, ::after, ::before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}
h2{
    font-size: 33px;
}
h3{
    font-size: 27px;
}
h4{
    font-size: 22px;
    font-weight: 400;
}
h5{
    font-size: 20px;
    font-weight: 400;
}
p{
    font-size: 16px;
}
header{
    z-index: 1;
}
#header{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: space-between;
}
header #logo a{
    display: block;
}
header #logo img{
    height: auto;
    width: 200px;
}
#hero{
    margin-top: 50px;
}
.hero{
    display: flex;
    height: 500px;
    align-items: center;
}
.hero__copy{
    padding-right: 25px;
}
#botones a{
    color: #FFF;
    background: #ed691c;
    margin-top: 20px;
}
.hero__img{
    padding-left: 25px;
}
#vistazo{
    margin-top: 80px;
}
.vistazo{
    align-items: flex-start;
    display: flex;
    text-align: center;
    height: 150px;
}
.vistazo__cont{
    padding: 5px 20px;
    width: 25%;
}
.vistazo i{
    font-size: 50px;
    margin-bottom: 15px;
}
#beneficio{
    background: #4e4ae5;
    margin-top: 80px;
    padding: 50px 0;
}
.beneficio{
    margin-top: 50px;
}
.beneficio__cont{
    align-items: center;
    display: flex;
    height: 282px;
    margin: 30px 0;
}
.beneficio__img{
    height: inherit;
    width: 50%;
}
.beneficio__img img{
    border-radius: 6px 0 0 6px;
    height: inherit;
    object-fit: cover;
}
.beneficio__copy{
    padding: 10px 50px;
    width: 50%;
    border-radius: 0 6px 6px 0;
    height: inherit;
    display: flex;
    align-items: center;
    background: #2e318c;
}
#beneficios{
    padding:50px 0;
}
.beneficios{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.beneficios__cont{
    background: #fff;
    border-radius: 6px;
    color: #2e318c;
    height: 250px;
    margin: 15px;
    padding: 20px 25px;
    text-align: center;
    width: 30%;
}
.beneficios__cont i{
    font-size: 50px;
}
.beneficios__cont h5{
    font-weight: 600;
    margin-top: 20px;
}
.benificios__cont p{
    margin-top: 10px;
}
#curso{
    padding: 50px 0;
}
.curso__cont{
    align-items: flex-start;
    display: flex;
    height: 578px;
    margin-top: 50px;
}
.curso__copy{
    background: #4e4ae5;
    border-radius: 6px;
    color: #fff;
    list-style: none;
    height: 100%;
    padding: 20px 25px;
}
.curso__copy ul{
    list-style: none;
    padding: 0;
}
.curso__copy li{
    font-size: 20px;
    margin-bottom: 10px;
}
#presentador{
    background: #4e4ae5;
    padding: 50px 0 30px;
}
.presentador__cont{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.presentador__img{
    width: 50%;
}
.presentador__copy{
    padding: 20px 25px;
    width: 50%;
}
.presentador__copy h3{
    margin-bottom: 20px;
    font-size: 30px;
}
#presentadores{
    background: #4e4ae5;
    padding-bottom: 50px;
}
.presentadores{
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentadores__cont{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
}
.presentadores__copy p{
    margin-bottom: 10px;
}
.presentadores__img{
    margin: 0 20px;
}
.presentadores__img img{
    border-radius: 50%;
    margin-bottom: 20px;
}
#cierre{
    padding: 50px 0;
}
.cierre{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cierre__cont{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 300px;
    margin: 15px;
    text-align: center;
    width: 33.3333%;
}
.cierre__cont span{
    background: #FFF;
    color: #2e318c;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.cierre__cont img{
    margin-bottom: 15px;
}
#registro{
    padding: 50px 0;
}
.registro{
    display: flex;
    justify-content: space-between;
}
.registro__promo{
    background: #ed691c;
    border-radius: 6px 0 0 6px;
    padding: 20px 25px;
    width: 50%;
}
.registro__promo__cont:first-child{
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.registro__promo__cont h2{
    margin-bottom: 20px;
    text-align: center;
}
.registro__promo--copy strong{
    font-size: 30px;
}
.registro__promo__cont h5{
    font-weight: 700;
    margin-bottom: 25px;
}
.registro__promo--pago{
    margin-bottom: 20px;
}
.registro__promo__cont p{
    font-size: 14px;
    margin-bottom: 10px;
}
.registro__form{
    background: #fff;
    border-radius: 0 6px 6px 0;
    color: #2e318c;
    padding: 20px 25px;
    width: 50%;
}
.registro__form h2{
    margin-bottom: 30px;
    text-align: center;
}
.registro__form form{
    display: flex;
    flex-direction: column;
}
.registro__form form input{
    border: 1px solid #2e318c;
    border-radius: 6px;
    color: #2e318c;
    font-weight: 700;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    outline: 0;
}
.registro__form form input:focus{
    border: 3px solid #2e318c;
}
.registro__form form h5{
    margin: 30px 0;
    font-weight: 700;
}
.registro__form--radio input[type="radio"]{
    height: initial;
    margin-right: 5px;
}
.registro__form--radio input[type="submit"]{
    background: #ed691c;
    border: 0;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
#faq{
    padding:50px 0;
}
.faq h2{
    margin-bottom: 30px;
}
.faq__cont{
    margin-bottom: 25px;
}
.faq h4{
    margin-bottom: 10px;
}
.faq p{
    margin-left: 25px;
}
footer{
    background: #4e4ae5;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.footer__logo{
    padding: 20px 50px;
    width: 33.3333%;
}
.footer__logo img{
    filter: grayscale(1);
}
.footer__aviso{
    display: flex;
    justify-content: center;
    width: 33.3333%;
}
.footer__aviso a{
    color: #FFF;
}
.footer__redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3333%;
}
.footer__redes i{
    color: #FFF;
    font-size: 30px;
    margin: 0 10px;
}

/*CLASES*/
.container{
    display: block;
    width: 1280px;
    margin: 0 auto;
}
.botones{
    border-radius: 25px;
    display: block;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
.titulo h2{
    font-weight: 700;
}
.titulo p{
    font-size: 18px;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*MEDIA QUERIES*/

@media (max-width:1365px){ 
    .container{
        width: 1170px;
    }
}
@media (max-width:1270px){ 
    .container{
        width: 990px;
    }
}
@media (max-width:1023px){ 
    .container{
        width: 740px;
    }
    .hero{
        flex-direction: column;
        height: initial;
    }
    .hero__copy{
        margin-bottom: 20px;
        padding: initial;
    }
    .hero__img{
        padding: initial;
    }
    .vistazo{
        height: initial;
    }
    .beneficios__cont{
        width: 45%;
    }
    .curso__cont{
        flex-direction: column;
        height: initial;
    }
    .curso__copy{
        order: 1;
    }
    .presentador__cont{
        flex-direction: column;
    }
    .presentador__copy h3{
        text-align: center;
    }
    
}
@media (max-width:767px){ 
    .container {        
        padding-right: 15px;
        padding-left: 15px;
        margin:0 auto;
        width: initial;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size:26px;
    }
    h4{
        font-size:18px;
    }
    #header{
        height: 65px;
    }
    header #logo img {
        width: 165px;
    }
    .registro__form--radio input[type="submit"]{
        width: 100%;
    }
    .cierre{
        flex-wrap: wrap;
    }
    .cierre__cont{
        width: 45%;
    }
    #vistazo {
        margin-top: 50px;
    }
    .vistazo{
        flex-direction: column;
        align-items: center;
    }
    .vistazo__cont{
        margin: 20px 0;
        width: 100%;
    }
    #beneficio {
        margin-top: 50px;
    }
    .beneficio__cont{
        flex-direction: column;
        height: initial;
    }
    .beneficio__img{
        width: 100%;
    }
    .beneficio__img img{
        border-radius: 6px 6px 0 0;
    }
    .beneficio__copy{
        border-radius: 0 0 6px 6px;
        padding: 10px 15px;
        width: 100%;
    }
    .beneficios__cont {
        width: 100%;
    }
    .presentador__img{
        width: 100%;
    }
    .presentador__copy{
        width: 100%;
    }
    .presentadores__cont{
        width: 100%;
    }
    .cierre__cont{
        width: 100%;
    }
    .registro{
        flex-direction: column;
    }
    .registro__promo{
        border-radius: 6px 6px 0 0;
        width: 100%;
    }
    .registro__form{
        border-radius: 0 0 6px 6px;
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .footer__logo {
        padding: 20px 50px;
        width: 100%;
    }
    .footer__aviso {
        padding: 30px 0;
        width: 100%;
    }
    .footer__redes {
        padding: 30px 0;
        width: 100%;
    }
}

